services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env.backend
    ports:
      - "8001:8001"
    volumes:
      - ./backend/.cache:/app/.cache

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.frontend
    environment:
      - DAILY_TITLE_BACKEND_URL=http://backend:8001
    depends_on:
      - backend
